{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template ivplugin_form/formedit_modal

Modal body when form interaction is being edited.

Example context (json):
{
}
}}
<div class="modal fade p-0" id="form-modal" role="dialog" aria-hidden="true" data-backdrop="static"
    data-keyboard="false">
    <div id="message" data-id="{{id}}" data-placement="popup"
        class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header d-flex align-items-center shadow-sm z-index-1" id="title" style="height:73px;">
                <div id="form-btns" data-id="{{id}}">
                    <div id="save-close" class="d-flex align-items-center">
                    <button class="btn btn-sm rounded-0 text-primary" id="undo" disabled="disabled"
                        title="{{#str}}undo,mod_interactivevideo{{/str}}"><i class="bi bi-arrow-90deg-left fs-25px"></i></button>
                <button class="btn btn-sm rounded-0 text-primary" id="redo" disabled="disabled"
                        title="{{#str}}redo,mod_interactivevideo{{/str}}"><i class="bi bi-arrow-90deg-right fs-25px"></i></button>
                        <button class="btn btn-sm rounded-0 text-primary mr-1" id="save"
                            title="{{#str}}save,mod_interactivevideo{{/str}}"><i class="bi bi-floppy fs-25px"></i></button>
                        <button class="btn btn-sm rounded-0" id="close"
                            title="{{#str}}close,mod_interactivevideo{{/str}}"><i class="bi bi-x-lg fs-25px"></i></button>
                    </div>
                    <div class="d-flex align-items-center">
                        {{#items}}
                        {{#type}}
                        <button class="btn btn-sm rounded-0 add-field mr-1 px-1" title="{{label}}" data-type="{{type}}"><i
                                class="{{icon}} fs-25px"></i></button>
                        {{/type}}
                        {{^type}}
                        <div class="separator border-left border-secondary mr-1" style="width:1px; height:30px;"></div>
                        {{/type}}
                        {{/items}}
                    </div>
                </div>
            </div>
            <div class="modal-body p-0" id="content">
                <div class="row mx-0">
                    <div class="col-sm-12 col-md-4 px-0 bg-light overflow-auto" style="height:calc(100vh - 75px);">
                        <ul class="list-group list-group-flush" id="form-field-list">

                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-8 overflow-auto" style="height:calc(100vh - 75px);">
                        <div id="form-preview" class="p-5 loader">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>