{{!
This file is part of Moodle - http://moodle.org/
Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses />.
}}
{{!
@template mod_interactivevideo/activitycard
TODO describe template activitycard
Example context (json):
{
}
}}
<div class="{{#formativ}}formativ{{/formativ}}">
    <div id="interactivevideo-{{cm.instance}}"
         class="interactivevideo-card{{^columnlayout}} columnlayout{{/columnlayout}}{{#showposterimageright}} poster-right{{/showposterimageright}}{{#showdescription}}{{#formattedintro}} hasdescription{{/formattedintro}}{{/showdescription}} card-{{size}}{{^cm.uservisible}} iv-invisible no-pointer{{/cm.uservisible}}"
         data-id="{{cm.id}}"
         data-title="{{formattedname}}"
         data-contextid="{{cm.context.id}}"
         data-instance="{{cm.instance}}"
         data-courseid="{{cm.course}}"
         data-original-intro="{{originalintro}}">
        {{^cardonly}}
        {{#showposterimage}}
        <div class="image-container position-relative {{#hasanalytics}}hasanalytics{{/hasanalytics}}">
            <div class="poster position-relative"
                 style="background-image: url({{interactivevideo.posterimage}})">
                {{#cm.uservisible}}
                <a href="{{#launchinpopup}}javascript:void(){{/launchinpopup}}{{^launchinpopup}}{{baseurl}}/mod/interactivevideo/view.php?i={{cm.instance}}{{/launchinpopup}}" class="{{#launchinpopup}}launch-interactivevideo{{/launchinpopup}} overlay" {{#launchinpopup}} data-id="{{cm.id}}" data-contextid="{{cm.context.id}}" data-instance="{{cm.instance}}" data-course="{{cm.course}}" data-title="{{formattedname}}"{{/launchinpopup}}>
                    <i class="fa fa-play"></i>
                </a>
            {{/cm.uservisible}}
            <span class="badge duration">{{duration}}</span>
            {{#cm.uservisible}}
            {{#new}}
            <span class="badge badge-primary new-badge">{{#str}}new,interactivevideo{{/str}}</span>
        {{/new}}
        {{#hasanalytics}}
        <div class="analytics rounded-0 progress">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: {{analytics}}%"
                 aria-valuenow="{{analytics}}"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 data-current="{{analytics}}"
                 data-expected="{{analyticsexpected}}"></div>
        </div>
    {{/hasanalytics}}
{{/cm.uservisible}}
</div>
</div>
{{/showposterimage}}
<div class="description-container d-flex justify-content-between flex-column">
    <div class="top-section small">
        <div class="w-100 d-flex align-items-start">
            {{#showname}}
            {{#cm.uservisible}}
            <a href="{{baseurl}}/mod/interactivevideo/view.php?i={{cm.instance}}"
               class="clamp-2 text-dark h5 text-decoration-none mb-0">{{formattedname}}</a>
            {{#hascompletion}}
            {{#overallcomplete}}<i class="bi bi-check-circle-fill text-success ml-2"></i>{{/overallcomplete}}
            {{^overallcomplete}}<i class="bi bi-circle ml-2"></i>{{/overallcomplete}}
        {{/hascompletion}}
    {{/cm.uservisible}}
    {{^cm.uservisible}}
    <a href="javascript:void()"
       class="text-dark h5 text-decoration-none mb-0">{{formattedname}}</a>
{{/cm.uservisible}}
{{/showname}}
{{#showdescription}}
{{#formattedintro}}
{{^usecustomdesc}}<i class="fa fa-chevron-right description-show ml-auto mr-1 mb-0 cursor-pointer"></i>{{/usecustomdesc}}{{/formattedintro}}
{{/showdescription}}
</div>
{{#showdescription}}
{{#formattedintro}}
<div class="description {{#showname}}mt-3{{/showname}}" {{^usecustomdesc}}style="display:none"{{/usecustomdesc}}>
    {{{formattedintro}}}
</div>
{{/formattedintro}}
{{/showdescription}}
</div>
{{#cm.uservisible}}
<div class="bottom-section">
    {{#showprogressbar}}
    {{^noitems}}
    <div class="tasks progress mt-3 bg-primary-alt">
        <div class="progress-bar {{#completed}}bg-success{{/completed}}{{^completed}}bg-primary{{/completed}}"
             role="progressbar"
             style="width: {{usercompletion.completionpercentage}}%"
             aria-valuenow="{{usercompletion.completionpercentage}}"
             aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>
    <div class="d-flex justify-content-between">
        <small title="{{#str}}taskscompleted,interactivevideo{{/str}}"><i class="fa fa-bullseye mr-1"></i><span class="percentage">{{usercompletion.completionpercentage}}</span>% <span class="items">({{completeditems}}/{{totalitems}})</span></small>
        {{^noxp}}
        <small title="{{#str}}xpcompleted,interactivevideo{{/str}}"><i class="fa fa-star mr-1"></i><span class="xp">{{usercompletion.xp}}</span>/{{totalxp}}</small>
    {{/noxp}}
</div>
{{/noitems}}
{{/showprogressbar}}
{{#completion}}
<div class="small mt-3 {{^showcompletion}}d-none{{/showcompletion}}">{{{completion}}}</div>
{{/completion}}
</div>
{{/cm.uservisible}}
</div>
{{/cardonly}}
{{#cardonly}}
<div class="image-container card-only {{#hasanalytics}}hasanalytics{{/hasanalytics}}">
    <div class="poster position-relative"
         style="background-image: url({{interactivevideo.posterimage}})">
        {{#cm.uservisible}}
        <a href="{{#launchinpopup}}javascript:void(){{/launchinpopup}}{{^launchinpopup}}{{baseurl}}/mod/interactivevideo/view.php?i={{cm.instance}}{{/launchinpopup}}" class="{{#launchinpopup}}launch-interactivevideo{{/launchinpopup}} overlay" {{#launchinpopup}} data-id="{{cm.id}}" data-contextid="{{cm.context.id}}" data-instance="{{cm.instance}}" data-course="{{cm.course}}" data-title="{{formattedname}}"{{/launchinpopup}}><i class="fa fa-play"></i></a>
    {{/cm.uservisible}}
    <span class="position-absolute badge duration">{{duration}}</span>
    {{#cm.uservisible}}
    {{^noitems}}
    <span class="position-absolute badge percentage-badge d-flex">
        <i class="fa fa-bullseye mr-1"></i>
        <span class="percentage">{{usercompletion.completionpercentage}}</span>%
    </span>
{{/noitems}}
{{#hasanalytics}}
<div class="analytics rounded-0 progress">
    <div class="progress-bar bg-danger"
         role="progressbar"
         style="width: {{analytics}}%"
         aria-valuenow="{{analytics}}"
         aria-valuemin="0"
         aria-valuemax="100"
         data-current="{{analytics}}"
         data-expected="{{analyticsexpected}}"></div>
</div>
{{/hasanalytics}}
{{/cm.uservisible}}
</div>
<div class="info p-2 w-100 position-absolute small">
    <a href="{{baseurl}}/mod/interactivevideo/view.php?i={{cm.instance}}"
       class="title font-weight-bold nolink no-pointer text-decoration-none text-white">{{formattedname}}</a>
    {{#hasanalytics}}
    <div class="analytics progress position-relative mt-2">
        <div class="progress-bar bg-danger"
             role="progressbar"
             style="width: {{analytics}}%"
             aria-valuenow="{{analytics}}"
             aria-valuemin="0"
             aria-valuemax="100"
             data-current="{{analytics}}"
             data-expected="{{analyticsexpected}}"></div>
    </div>
    <small class="d-flex align-items-center"
           title="{{#str}}watched,interactivevideo{{/str}}"><i class="fa fa-stopwatch mr-auto"></i><span class="analytics-percentage">{{analytics}}</span>%</small>
{{/hasanalytics}}
{{^noitems}}
<div class="tasks progress mt-2 bg-primary-alt">
    <div class="progress-bar {{#completed}}bg-success{{/completed}}{{^completed}}bg-primary{{/completed}}"
         role="progressbar"
         style="width: {{usercompletion.completionpercentage}}%"
         aria-valuenow="{{usercompletion.completionpercentage}}"
         aria-valuemin="0"
         aria-valuemax="100"></div>
</div>
<div class="task-percentage d-flex justify-content-between mt-1">
    <small class="d-flex align-items-center"
           title="{{#str}}taskscompleted,interactivevideo{{/str}}"><i class="fa fa-bullseye mr-1"></i><span class="percentage">{{usercompletion.completionpercentage}}</span>%<span class="items ml-1">({{completeditems}}/{{totalitems}})</span></small>
    {{^noxp}}
    <small class="d-flex align-items-center"
           title="{{#str}}xpcompleted,interactivevideo{{/str}}"><i class="fa fa-star mr-1"></i><span class="xp">{{usercompletion.xp}}</span>/{{totalxp}}</small>
{{/noxp}}
</div>
{{/noitems}}
{{#completion}}
<div class="small mt-3 {{^showcompletion}}d-none{{/showcompletion}}">{{{completion}}}</div>
{{/completion}}
</div>
</div>
<div class="description-container w-auto">
    {{#showname}}
    {{#cm.uservisible}}
    <a href="{{baseurl}}/mod/interactivevideo/view.php?i={{cm.instance}}"
       class="clamp-2 text-dark h5 text-decoration-none mb-0">{{formattedname}}</a>
{{/cm.uservisible}}
{{^cm.uservisible}}
<a href="javascript:void()"
   class="clamp-2 text-dark h5 text-decoration-none mb-0">{{formattedname}}</a>
{{/cm.uservisible}}
{{/showname}}
</div>
{{/cardonly}}
</div>
{{#afterlink}}
{{{afterlink}}}
{{/afterlink}}
</div>
