{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_interactivevideo/addcontenttype

    TODO describe template addcontenttype

    Example context (json):
    {
    }
}}
<div class="modal fade" id="contentmodal" role="dialog" aria-labelledby="contentmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-lg">
            <div class="modal-header align-items-center flex-column">
            <div class="w-100 d-flex align-items-center justify-content-between">
                <h5 class="modal-title">{{#str}}selectacontenttypetoadd, mod_interactivevideo{{/str}}</h5>
                <button type="button" class="btn p-0 border-0" data-dismiss="modal" aria-label="Close">
                   <i class="bi bi-x-lg fa-fw fs-25px"></i>
                </button>
                </div>
            <div class="w-100 d-flex align-items-center">
                <input type="text" class="form-control form-control-sm w-100 mt-3" id="contentsearch" placeholder="{{#str}}search, mod_interactivevideo{{/str}}">
                </div>
            </div>
            <div class="p-0" id="addcontentdropdown">
                {{#contenttype}}
                {{^hideonchooser}}
                    <span class="cursor-pointer dropdown-item text-wrap px-4 py-3 border-bottom d-flex w-100 {{^description}}align-items-center{{/description}} {{^description}}align-items-start{{/description}}"
                        data-type="{{{name}}}">
                        <i class="mr-3 {{{icon}}} {{^hascompletion}}text-secondary{{/hascompletion}}"></i>
                        <div class="w-100">
                            <span class="font-weight-bold contenttype-title">{{{title}}}</span>
                            {{#author}}
                            <small class="text-muted d-flex mt-1 mb-2 w-100 justify-content-between">
                            <span class="d-flex">
                            {{#str}}byauthor, interactivevideo, {{#authorlink}}<a class="text-muted font-weight-bold ml-1" href="{{{authorlink}}}" target="_blank">{{author}}</a>{{/authorlink}}
                            {{^authorlink}}<b class="ml-1">{{author}}</b>{{/authorlink}}{{/str}}
                            </span>
                            {{#tutorial}}
                            <span>
                            <a class="text-muted font-weight-bold text-right" href="{{{tutorial}}}" target="_blank"><i class="bi bi-youtube tutorial" title="{{#str}}tutorial, interactivevideo{{/str}}"></i></a>
                            </span>
                            {{/tutorial}}
                            </small>
                            {{/author}}
                            {{#description}}
                            <p class="font-weight-light mb-0">{{{description}}}</p>
                            {{/description}}

                        </div>
                    </span>
                {{/hideonchooser}}
                {{/contenttype}}
            </div>
        </div>
    </div>
</div>