{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template mod_interactivevideo/editor

HTML body for the interaction page.

Example context (json):
{
}
}}
<div id="wrapper" class="mt-3">
    <div class="px-3 container-fluid">
        <div class="row m-0">
            <div class="pl-0 pr-0 pr-xl-3 col-lg-12 col-xl-7 order-0 order-xl-0" id="player-region">
                {{! Player }}
                <div id="video-wrapper" class="bg-dark">
                    {{#html5}}<video id="player" class="w-100"></video>{{/html5}}
                    {{^html5}}<div id="player" class="w-100 p-0"></div>{{/html5}}
                </div>
            </div>

            <div class="col-lg-12 col-xl-5 p-0 order-2 order-xl-1 mt-3 mt-xl-0">
                <div class="position-absolute w-100 h-100 overflow-auto border rounded-lg" id="contentblock">
                    {{! action bar }}
                    <div id="video-action"
                        class="px-3 py-2 bg-light d-flex align-items-center justify-content-between mx-auto w-100 position-sticky">
                        <div class="text-truncate">
                            <h4 class="mb-0 text-truncate font-weight-bold">{{title}}</h4>
                            <span id="timeframe"></span>
                        </div>
                        <div class="d-flex">
                            <div class="btn border-0" id="xp"><span class="font-weight-bold">0</span><i
                                    class="bi bi-star ml-1"></i></div>
                        </div>
                    </div>

                    {{! content item list }}
                    <div id="annotationwrapper" class="overflow-auto">
                        <table class="table table-sm w-100 table-hover small">
                            <tbody id="annotation-list" class="bg-white">
                                <div class="loader w-100" style="height: 100px"> </div>
                            </tbody>
                        </table>
                    </div>

                    {{! content item template }}
                    <table>
                        <tr id="annotation-template" class="annotation listItem border-bottom d-none" data-timestamp="0"
                            data-id="0" data-type="">
                            <td style="width: 0px">
                                <span data-editable="timestamp" title="{{#str}}goto, mod_interactivevideo{{/str}}"
                                    class="timestamp bg-gray px-2 py-1 rounded-sm text-truncate">0</span>
                                <input type="text" name="timestampassist" data-field="timestamp"
                                    class="form-control form-control-sm d-none" />
                            </td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center flex-grow-1 type-name rotatey-360">
                                        <button class="border-0 btn btn-sm type-icon mr-2" title=""><i
                                                class="fa fa-fw "></i></button>
                                        <a data-editable="title" href="javascript:void(0)"
                                            class="title font-weight-bold">title</a>
                                        <input type="text" data-field="title"
                                            class="form-control form-control-sm d-none" />
                                    </div>
                                    <div class="btns d-flex align-items-center">
                                        <span data-editable="xp" title="{{#str}}xppoint, mod_interactivevideo{{/str}}"
                                            class="border-0 btn btn-sm xp"><span>12</span><i
                                                class="bi bi-star ml-1"></i></span>
                                        <input type="number" min="0" data-field="xp"
                                            class="form-control form-control-sm d-none" />
                                        <button title="{{#str}}clone, mod_interactivevideo{{/str}}"
                                            class="border-0 btn btn-sm copy"><i class="bi bi-copy"></i></button>
                                        <button title="{{#str}}edit, mod_interactivevideo{{/str}}"
                                            class="border-0 btn btn-sm edit"><i
                                                class="bi bi-pencil-square"></i></button>

                                        <button class="border-0 btn btn-sm text-danger delete"
                                            title="{{#str}}delete, mod_interactivevideo{{/str}}"><i
                                                class="bi bi-trash3-fill"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="pr-xl-0 px-0 col-12 order-xl-2 order-1">
                <div id="playercontrol" class="w-100 d-flex align-items-center">
                    <div id="taskinfo"
                        class="d-flex align-items-center justify-content-end w-100 p-2 bg-info mx-auto mb-0">
                        <div class="w-100 overflow-hidden px-1 py-2">
                            <div id="video-nav" class="ml-1 bg-gray rounded-lg align-items-center">
                                <ul></ul>
                                <div id="progress" class="bg-dark"></div>
                                <div id="seek" class="w-100 bg-transparent h-100 position-absolute"></div>
                            </div>
                        </div>
                        <button class="border-0 p-0 btn btn-text text-white rounded-circle ml-2" data-toggle="popover"
                            data-trigger="hover" data-placement="top"
                            data-content='{{#str}}videonavhelp,mod_interactivevideo{{/str}}' data-html="true"><i
                                class="bi bi-info-circle"></i></button>
                    </div>

                </div>
                <div id="annotation-content" class="w-100 position-relative mt-3"></div>
            </div>

        </div>
    </div>

</div>
{{! content type modal }}

<div class="modal fade" id="contentmodal" role="dialog" aria-labelledby="contentmodal" aria-hidden="true"
    style="z-index: 1050; background: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-lg">
            <div class="modal-header align-items-center">
                <h5 class="modal-title">{{#str}}selectacontenttypetoadd, mod_interactivevideo{{/str}}</h5>
                <button type="button" class="close btn mx-2 p-0 " data-dismiss="modal" aria-label="Close">
                   <i class="bi bi-x-lg fa-fw" style="font-size: x-large;"></i>
                </button>
            </div>
            <div class="px-0" id="addcontentdropdown">
                {{#contenttype}}
                <a class="dropdown-item px-4 py-3 border-bottom d-flex w-100 {{^description}}align-items-center{{/description}} {{^description}}align-items-start{{/description}}"
                    href="javascript:void(0)" data-type="{{{name}}}"><i
                        class="mr-3 {{{icon}}} {{^hascompletion}}text-secondary{{/hascompletion}}"></i>
                    <div><span class="font-weight-bold">{{{title}}}</span>{{#description}}<p
                            class="font-weight-light text-muted mb-0">{{{description}}}</p>{{/description}}</div>
                </a>
                {{/contenttype}}
            </div>
        </div>
    </div>
</div>