{{!
This file is part of Moodle - http://moodle.org/
Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with Moodle. If not, see <http://www.gnu.org/licenses />.
}}
{{!
@template mod_interactivevideo/player
TODO describe template player
Example context (json):
{
}
}}
<div id="interactivevideo-container"
     class="container-fluid {{#darkmode}}p-sm-3{{/darkmode}} {{^darkmode}}p-sm-3{{/darkmode}} alternative {{#displayoptions.distractionfreemode}}position-absolute{{/displayoptions.distractionfreemode}}" data-complete="{{completed}}">
    <div class="row justify-content-center mx-0">
        <div class="col-12 px-0">
            <div id="wrapper" class="position-relative mx-auto">
                <div id="video-wrapper"
                     class="d-flex align-items-center justify-content-center {{^darkmode}}border{{/darkmode}}">
                    {{! start of toolbar}}
                    <div id="toolbar" class="bg-transparent pt-5 position-fixed"></div>
                    {{! end of toolbar }}
                    <div class="position-absolute w-100 h-100 no-pointer bg-transparent"
                         id="background-loading"
                         style="display:none">
                        <div class="d-flex h-100 align-items-center justify-content-center">
                            <div class="spinner-border text-danger"
                                 style="width: 3rem;
                                        height: 3rem"
                                 role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    {{#displayoptions.hidemainvideocontrols}}
                    <span class="rotatex-360 btn border-0 btn-sm btn-control rounded-circle p-1"
                          id="fullscreen"
                          data-toggle="tooltip"
                          data-trigger="hover"
                          title="{{#str}}togglefullscreen,mod_interactivevideo{{/str}}"><i class="bi bi-fullscreen"></i></span>
                {{/displayoptions.hidemainvideocontrols}}
                {{^displayoptions.disablechapternavigation}}
                <div id="chapter-container-left"
                     class="d-none sticky-top position-fixed w-100">
                    <div data-region="chapterwrapper"
                         class="d-flex w-100 position-absolute h-100 flex-column shadow">
                        <div class="w-100 p-3 d-flex flex-column">
                            <button id="closechapter"
                                    class="btn btn-small rounded-circle p-0 bg-secondary border-0">
                                <i class="fa fa-times"></i>
                            </button>
                            <div class="metadata"></div>
                            <span class="h4 mt-2 mb-0 text-truncate">{{title}}</span>
                        </div>
                        <ul data-region="chapterlists" class="list-group w-100 rounded-0">
                        </ul>
                    </div>
                </div>
            {{/displayoptions.disablechapternavigation}}
            {{^displayoptions.useoriginalvideocontrols}}
            <div class="w-100 position-absolute video-block d-flex align-items-center justify-content-center bottom-0"></div>
        {{/displayoptions.useoriginalvideocontrols}}
        {{#displayasstartscreen}}
        <div id="start-screen"
             class="w-100 position-absolute h-100 bg-white bottom-0">
            <div class="intro-content {{#hasintro}}hasintro{{/hasintro}} bg-light w-100 p-0 align-items-start">
                <div id="title-section"
                     class="bg-secondary w-100 d-flex align-items-center justify-content-between p-3 overflow-hidden position-sticky">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="metadata d-block d-md-none"></div>
                        <h2 class="line-height-100 mb-0 title">{{title}}</h2>
                    </div>
                    <div id="spinner"
                         class="spinner-border text-danger"
                         style="width: 3rem;
                                height: 3rem"
                         role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <button id="play"
                            class="btn rounded-circle d-none pulse bg-white position-sticky">
                        <i class="bi bi-play-circle-fill text-danger"></i>
                    </button>
                </div>
                {{#hasintro}}
                <div class="p-2 p-md-3">{{{intro}}}</div>
            {{/hasintro}}
        </div>
    </div>
{{/displayasstartscreen}}
{{^displayasstartscreen}}
<div id="start-screen" class="w-100 position-absolute h-100 bottom-0" {{#posterimage}}style="background: url({{{posterimage}}}) center center / cover no-repeat;"{{/posterimage}}>
    <div class="intro-content d-flex align-items-center justify-content-center position-absolute w-100"></div>
    <div id="video-info"
         class="p-1 p-sm-3 text-white w-100 h-100 position-absolute align-items-start flex-column justify-content-between d-none d-flex">
        <div class="justify-content-between w-100 h-100 d-flex flex-column">
            <div class="metadata d-block d-md-none"></div>
            <span class="h1 text-white font-weight-bold line-height-100 m-1 m-sm-2 p-sm-2 p-1">{{title}}</span>
        </div>
        <div id="spinner"
             class="spinner-border text-danger position-absolute"
             role="status"
             style="width: 3rem;
                    height: 3rem;
                    left: calc(50% - 1.5rem);
                    top: calc(50% - 1.5rem)">
            <span class="sr-only">Loading...</span>
        </div>
        <button class="btn bg-white rounded-circle d-none position-absolute pulse"
                id="play">
            <i class="bi bi-play-circle-fill text-danger"></i>
        </button>
    </div>
</div>
{{/displayasstartscreen}}
<div id="end-screen"
     class="w-100 position-absolute h-100 bg-light d-none bottom-0">
    <div class="end-content {{#hasendscreentext}}hascontent w-100 p-0 align-items-start{{/hasendscreentext}}">
        {{#hasendscreentext}}
        <div id="title-section"
             class="bg-secondary w-100 d-flex align-items-center justify-content-between p-3 overflow-hidden position-sticky">
            <div class="d-flex flex-column justify-content-center">
                <div class="metadata d-block d-md-none"></div>
                <span class="h1 line-height-100 mb-0 title">{{title}}</span>
            </div>
            <button class="btn btn-danger rounded-circle pulse position-sticky"
                    id="restart">
                <i class="bi bi-arrow-repeat"></i>
            </button>
        </div>
        <div class="p-2 p-md-3">{{{endscreentext}}}</div>
    {{/hasendscreentext}} {{^hasendscreentext}}
    <button class="btn btn-danger rounded-circle pulse" id="restart">
        <i class="bi bi-arrow-repeat"></i>
    </button>
{{/hasendscreentext}}
</div>
</div>
<div id="annotation-canvas" class="d-none">
    {{#html5}}
    <video id="player">
    </video>
{{/html5}}
{{^html5}}
<div id="player" class="p-0"></div>
{{/html5}}
</div>
</div>
{{^displayoptions.hidemainvideocontrols}}
<div class="mt-0 mt-md-2 bg-dark d-flex flex-column p-0 justify-content-center"
     id="controller">
    <div id="taskinfo"
         class="border-0 flex-column align-items-center justify-content-end w-100 px-3 bg-transparent">
        <div class="align-items-start position-relative w-100"
             id="interactions-nav">
            <ul>
            </ul>
        </div>
        <div class="flex-column align-items-center position-relative w-100"
             id="video-nav">
            <ul>
            </ul>
            <div class="w-100 d-flex align-items-center">
                <div id="progress" class="bg-danger"></div>
                <div id="seek" class="w-100 position-absolute rounded"></div>
                <div id="seekhead" class="position-absolute rounded-circle bg-danger"></div>
            </div>
        </div>
    </div>
    <div class="w-100 px-2 d-flex align-items-center justify-content-between pb-2"
         style="height: 30px">
        <div class="d-flex align-items-center">
            <span data-toggle="tooltip"
                  data-trigger="hover"
                  role="button"
                  title="{{#str}}play, mod_interactivevideo{{/str}}"
                  id="playpause"
                  class="btn border-0 btn-sm btn-control text-white bg-transparent py-0 px-0 mr-1">
                <i class="bi bi-play-fill fs-25px"></i>
            </span>
            {{^displayoptions.disablechapternavigation}}
            <div id="chaptertoggle">
                <span data-toggle="tooltip"
                      data-trigger="focus"
                      title="{{#str}}togglechapter, mod_interactivevideo{{/str}}"
                      class="btn border-0 btn-sm btn-control text-white bg-transparent py-0 px-1"
                      id="chapterbutton"><i class="bi bi-collection"></i></span>
            </div>
        {{/displayoptions.disablechapternavigation}}
        <span class="text-white ml-2" id="currenttime">00:00</span><span class="text-white mx-1">/</span>
        <span class="text-white" id="duration">--:--</span>
        <span class="text-secondary ml-2 d-none d-md-inline" id="chaptertitle"></span>
    </div>
    <div class="d-flex align-items-center">
        <span id="mute"
              class="btn border-0 btn-sm btn-control text-white bg-transparent py-0 px-1 mx-1"
              data-toggle="tooltip"
              data-trigger="focus"
              title="{{#str}}mute,mod_interactivevideo{{/str}}"><i class="bi bi-volume-up"></i></span>
        <div class="btn-group dropup d-none" id="changecaption">
            <span role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="btn border-0 btn-sm btn-control text-white bg-transparent py-0 px-1 mx-1">
                <i class="bi bi-badge-cc"
                   data-toggle="tooltip"
                   data-trigger="focus"
                   title="{{#str}}subtitle,mod_interactivevideo{{/str}}"></i>
            </span>
            <div id="caption-dropdown" class="dropdown-menu dropdown-menu-right bg-black text-white"></div>
        </div>
        <div class="btn-group dropup d-none" id="changerate">
            <span role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="btn border-0 btn-sm btn-control text-white bg-transparent py-0 px-1 mx-1">
                <i class="bi bi-speedometer2"
                   data-toggle="tooltip"
                   data-trigger="focus"
                   title="{{#str}}changeplaybackspeed,mod_interactivevideo{{/str}}"></i>
            </span>
            <div class="dropdown-menu dropdown-menu-right bg-black text-white">
                <a class="dropdown-item text-white changerate" data-rate="0.5" href="#"><i class="bi fa-fw ml-n3"></i>0.5</a>
                <a class="dropdown-item text-white changerate" data-rate="1" href="#"><i class="bi fa-fw bi-check ml-n3"></i>1</a>
                <a class="dropdown-item text-white changerate" data-rate="1.5" href="#"><i class="bi fa-fw ml-n3"></i>1.5</a>
                <a class="dropdown-item text-white changerate" data-rate="2" href="#"><i class="bi fa-fw ml-n3"></i>2</a>
            </div>
        </div>
        <div class="d-none btn-group dropup" id="changequality" data-current="">
            <span role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="btn border-0 btn-sm btn-control text-white bg-transparent py-0 px-1 mx-1">
                <i class="bi bi-gear"
                   data-toggle="tooltip"
                   data-trigger="focus"
                   title="{{#str}}videoquality,mod_interactivevideo{{/str}}"></i>
            </span>
            <div class="dropdown-menu dropdown-menu-right bg-black text-white"
                 id="qualitieslist"></div>
        </div>
        <span class="btn border-0 btn-sm btn-control text-white py-0 px-1 mx-1"
              id="share"
              data-toggle="tooltip"
              data-trigger="focus"
              title="{{#str}}sharethismoment,mod_interactivevideo{{/str}}"><i class="bi bi-share"></i></span>
        <span class="btn border-0 btn-sm btn-control text-white py-0 px-1 mx-1 rotate d-none"
              id="expand"
              data-toggle="tooltip"
              data-trigger="focus"
              title="{{#str}}resize,mod_interactivevideo{{/str}}"><i class="bi bi-file"></i></span>
        <span class="btn border-0 btn-sm btn-control text-white py-0 px-1 mx-1"
              id="fullscreen"
              data-toggle="tooltip"
              data-trigger="focus"
              title="{{#str}}togglefullscreen,mod_interactivevideo{{/str}}"><i class="bi bi-fullscreen"></i></span>
    </div>
</div>
</div>
{{/displayoptions.hidemainvideocontrols}}
</div>
{{! Content }}
<div id="annotation-content"
     class="position-relative overflow-hidden border-0 mx-auto"></div>
</div>
</div>
</div>
{{> mod_interactivevideo/blocksettingshack }}
