{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template mod_interactivevideo/player

TODO describe template player

Example context (json):
{
}
}}
<div id="interactivevideo-container" class="container-fluid p-1 p-sm-3" data-noskip="{{displayoptions.preventskipping}}"
    data-duntilcomplete="{{displayoptions.disableinteractionclickuntilcompleted}}"
    data-dc="{{displayoptions.disableinteractionclick}}" data-noseek="{{displayoptions.preventseeking}}">
    <div class="row justify-content-center mx-0">
        <div class="col-lg-12 col-xl-8 px-0">
            <div id="wrapper" class="position-relative">
                <div id="video-wrapper" class="border d-flex align-items-center justify-content-center bg-dark">
                    <button id="pausebutton" class="d-none btn btn-danger rounded-circle p-0">
                        <i class="bi bi-pause-fill" style="font-size: xxx-large;"></i>
                    </button>
                    <button id="sharebutton"
                        class="d-none btn rotatex-360 rounded-circle btn-secondary position-absolute border-0"
                        data-toggle="tooltip" data-trigger="hover"
                        title="{{#str}}sharethismoment,mod_interactivevideo{{/str}}">
                        <i class="bi bi-share-fill"></i>
                    </button>
                    {{#displayoptions.hidemainvideocontrols}}
                    <button
                        class="rotatex-360 btn border-0 btn-sm btn-control btn-secondary rounded-circle position-absolute"
                        id="fullscreen" data-toggle="tooltip" data-trigger="hover"
                        title="{{#str}}togglefullscreen,mod_interactivevideo{{/str}}"><i
                            class="fa fa-expand"></i></button>
                    {{/displayoptions.hidemainvideocontrols}}
                    {{! Toast }}
                    <div id="toast" style="z-index:5; top: 5px;"
                        class="toast mx-auto toast-warning fade position-absolute" role="alert" aria-live="assertive"
                        aria-atomic="true" data-delay="3000">
                        <div class="toast-body">
                            {{#str}}youmustcompletethepreviousactivity,mod_interactivevideo{{/str}}
                        </div>
                    </div>
                    {{^displayoptions.disablechapternavigation}}
                    <div id="chapter-container-left" class="d-none sticky-top position-absolute w-100 h-100">
                        <div data-region="chapterwrapper"
                            class="d-flex w-100 position-absolute h-100 flex-column border shadow">
                            <div class="w-100 p-3 d-flex flex-column">
                                <button id="closechapter"
                                    class="btn btn-small rounded-circle p-0 bg-secondary border-0"><i
                                        class="fa fa-times"></i></button>
                                <div class="metadata"></div>
                                <h4 class="mt-2 mb-0 text-truncate">{{{title}}}</h4>
                            </div>
                            <ul data-region="chapterlists" class="list-group w-100 rounded-0"></ul>
                        </div>
                    </div>
                    {{/displayoptions.disablechapternavigation}}
                    {{^displayoptions.useoriginalvideocontrols}}
                    <div class="w-100 position-absolute video-block d-flex align-items-center justify-content-center bottom-0"
                        style="background: #fff">

                    </div>
                    {{/displayoptions.useoriginalvideocontrols}}

                    {{#displayasstartscreen}}
                    <div id="start-screen" class="w-100 position-absolute h-100 bg-white bottom-0">
                        <div
                            class="intro-content {{#hasintro}}hasintro bg-white{{/hasintro}} w-100 p-0 align-items-start">
                            <div class="bg-light w-100 d-flex align-items-center justify-content-between p-3">
                                <div class="mb-2 d-flex flex-column">
                                    <div class="metadata d-block d-md-none"></div>
                                    <h1>{{{title}}}</h1>
                                </div>
                                <div id="spinner" class="spinner-grow text-secondary" style="width: 3rem; height: 3rem;"
                                    role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <button class="btn rounded-circle position-absolute d-none" id="play"
                                    style="right: 2rem; top: 1rem;"><i class="bi bi-play-circle-fill text-danger"
                                        style="font-size: xxx-large;"></i></button>
                            </div>
                            <div class="px-3">
                                {{#hasintro}}{{{intro}}}{{/hasintro}}
                            </div>
                        </div>
                    </div>
                    {{/displayasstartscreen}}

                    {{^displayasstartscreen}}
                    <div id="start-screen"
                        class="w-100 position-absolute h-100 {{^html5}}bg-transparent{{/html5}}  bottom-0"
                        style="background: rgba(255, 255, 255, 0.2);">
                        <div class="intro-content d-flex align-items-center justify-content-center position-absolute w-100"
                            style="z-index: 3;">
                            <div id="spinner" class="spinner-grow text-secondary" style="width: 3rem; height: 3rem;"
                                role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div id="video-info"
                            class="p-3 text-white w-100 h-100 position-absolute align-items-start flex-column justify-content-between d-none"
                            style="z-index: 4; background: linear-gradient(135deg, black, transparent);">
                            <div class="mb-2 d-flex flex-column">
                                <div class="metadata d-block d-md-none"></div>
                                <h1 class="text-white font-weight-bold">{{{title}}}</h1>
                            </div>
                            <button class="btn bg-white rounded-circle d-none position-absolute" id="play"
                                style="top: calc(50% - 25px); left: calc(50% - 25px);"><i
                                    class="bi bi-play-circle-fill text-danger"
                                    style="font-size: xxx-large;"></i></button>
                        </div>
                    </div>
                    {{/displayasstartscreen}}


                    <div id="end-screen" class="w-100 position-absolute h-100 bg-white d-none bottom-0">
                        <div
                            class="end-content {{#hasendscreentext}}hascontent w-100 p-0 align-items-start{{/hasendscreentext}}">
                            {{#hasendscreentext}}
                            <div class="bg-light w-100 d-flex align-items-center justify-content-between p-3">
                                <div class="mb-2 d-flex flex-column">
                                    <div class="metadata d-block d-md-none"></div>
                                    <h1>{{{title}}}</h1>
                                </div>

                                <button class="btn btn-danger rounded-circle position-absolute" id="restart"
                                    style="right: 2rem; top: 1rem;"><i class="bi bi-arrow-repeat"
                                        style="font-size: x-large;"></i></button>
                            </div>
                            <div class="px-3">
                                {{{endscreentext}}}
                            </div>
                            {{/hasendscreentext}}
                            {{^hasendscreentext}}
                            <button class="btn btn-danger rounded-circle" id="restart"><i class="bi bi-arrow-repeat"
                                    style="font-size: x-large;"></i></button>
                            {{/hasendscreentext}}
                        </div>
                    </div>
                    {{#html5}}<video id="player"></video>{{/html5}}
                    {{^html5}}<div id="player" class="p-0"></div>{{/html5}}

                </div>
                {{^displayoptions.hidemainvideocontrols}}
                <div id="playercontrol" class="w-100 d-flex align-items-center mt-3">
                    {{^displayoptions.disablechapternavigation}}
                    <div id="chaptertoggle">
                        <button data-toggle="tooltip" data-trigger="hover"
                            title="{{#str}}togglechapter, mod_interactivevideo{{/str}}"
                            class="btn rotatey-180 border-0 btn-sm btn-control text-white bg-translucent rounded-circle mr-2"
                            id="chapterbutton"><i class="bi bi-collection"></i></button>
                    </div>
                    {{/displayoptions.disablechapternavigation}}

                    <div id="taskinfo" class="d-flex align-items-center justify-content-end w-100 p-2 my-0">
                        <div id="video-nav"
                            class="ml-1 bg-gray {{#displayasstartscreen}}d-none{{/displayasstartscreen}} rounded-lg align-items-center">
                            <ul></ul>
                            <div id="progress" class="bg-dark"></div>
                            <div id="seek" class="w-100 bg-transparent h-100 position-absolute"></div>
                        </div>
                        <button class="rotatex-360 btn border-0 btn-sm btn-control text-white rounded-circle"
                            id="fullscreen" data-toggle="tooltip" data-trigger="hover"
                            title="{{#str}}togglefullscreen,mod_interactivevideo{{/str}}"><i
                                class="fa fa-expand"></i></button>
                    </div>

                </div>
                {{/displayoptions.hidemainvideocontrols}}
            </div>
            {{! Content }}
            <div id="annotation-content" class="w-100 position-relative mt-3 overflow-hidden border"></div>
        </div>
        {{^displayoptions.disablechapternavigation}}
        <div class="d-none col-lg-12 col-xl-4 mb-3 overflow-hidden" id="chapter-container-right">
            <div data-region="chapterwrapper" class="d-flex position-absolute h-100 flex-column border rounded-lg"
                style="width: calc(100% - 15px);">
                <div class="w-100 p-3 d-flex flex-column">
                    <div class="metadata"></div>
                    <h4 class="mt-2 mb-0 text-truncate">{{{title}}}</h4>
                </div>
                <ul data-region="chapterlists" class="list-group w-100 rounded-0"></ul>
            </div>
        </div>
        {{/displayoptions.disablechapternavigation}}
    </div>
</div>